include LICENSE
include README.md
include CHANGELOG.md
include CITATION.cff
include pyproject.toml
recursive-include hydroseason/_assets *.js *.css *.txt
prune hydroseason.egg-info

exclude .gitignore
prune dev
prune tests
prune docs
prune site
prune output
prune notebooks
prune scripts
prune data
prune case_studies
